@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.content {
  display: grid;
  grid-template-columns: 0.125fr 1fr 2fr;
}

.side-bar {
  background-color: #0b1083;
  height: 100vh;
  grid-column: 1/2;
}

.project-view {
  display: grid;
  grid-column: 2/3;
  grid-row: 1/-1;
}

.project-header {
  display: flex;
  justify-content: space-between;
  height: 10vh;
}

.header-text-project {
  padding-left: 0.5em;
}

.fa-plus-circle {
  font-size: 30px;
  margin-top: 1em;
  margin-left: 1em;
  color: #0b1083;
}

.accordionWrapper {
  padding-left: 1em;
}
.accordionItem{
  float:left;
  display:block;
  width:100%;
  box-sizing: border-box;
  font-family:'Open-sans',Arial,sans-serif;
}
.accordionItemHeading{
  cursor:pointer;
  margin:0px 0px 10px 0px;
  padding:10px;
  background:#2980b9;
  color:#fff;
  width:100%;
  -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
      box-sizing: border-box;
}
.close .accordionItemContent{
  height:0px;
  transition:height 1s ease-out;
  -webkit-transform: scaleY(0);
-o-transform: scaleY(0);
-ms-transform: scaleY(0);
transform: scaleY(0);
  float:left;
  display:block;
  
  
}
.open .accordionItemContent{
      padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 100%;
  margin: 0px 0px 10px 0px;
  display:block;
  -webkit-transform: scaleY(1);
-o-transform: scaleY(1);
-ms-transform: scaleY(1);
transform: scaleY(1);
  -webkit-transform-origin: top;
-o-transform-origin: top;
-ms-transform-origin: top;
transform-origin: top;

-webkit-transition: -webkit-transform 0.4s ease-out;
-o-transition: -o-transform 0.4s ease;
-ms-transition: -ms-transform 0.4s ease;
transition: transform 0.4s ease;
      box-sizing: border-box;
}

.open .accordionItemHeading{
  margin:0px;
      -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #bdc3c7;
  color: #7f8c8d;
}
