@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

li {
  list-style-type: none;
}

.content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.side-bar {
  background-color: #0b1083;
  height: 100vh;
  display: grid;
  grid-column: 1/2;
}

.project-view {
  display: grid;
  grid-column: 2/5;
  height: 50vh;
  grid-row: 1/2;
}

.project-header {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  width: max-content;
}

.header-text-project {
  padding-left: 0.5em;
}

.fa-plus-circle {
  font-size: 30px;
  margin-top: 1em;
  margin-left: 1em;
  color: #0b1083;
}

.project-form {
  margin-left: 1em;
}

.form,
.todo-item {
  max-width: 30rem;
  margin: 0.5em;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

input {
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 0.75rem;
  margin-bottom: 0.75em;
}

[type="text"],
[type="date"],
select,
textarea {
  display: block;
  padding: 0.5rem;
  background: transparent;
  width: 100%;
  max-width: 100%;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  font-size: 0.95rem;
}

.submit-btn {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  margin: 0.25rem 0;
  padding: 0.5rem 1rem;
  border: 1px solid #1e6bd6;
  border-radius: 5px;
  background: #1e6bd6;
  color: white;
  font-weight: 600;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 0.95rem;
}

.main {
  display: grid;
  grid-column: 5/-1;
}

.taskWrapper {
  display: flex;
  justify-content: space-evenly;
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.done {
  display: flex;
  text-align: center;
  flex-direction: column;
  flex: 50%;
}

.toDo {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 50%;
}

.new-task,.project-name {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #0b1083;
  border-radius: 0.6em;
  color: #0b1083;
  cursor: pointer;
  height: 2.5em;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.todo-list {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.buttonsDiv {
  display: flex;
  justify-content: space-between;
}

.cancel {
  background-color: #e80c0c;
}

ul {
  list-style-type: none;
}

.todo-item {
  max-width: 15rem;
}

.action input[type="checkbox"] {
  margin-right: 1em;
}

.action > * {
  padding-right: 0.5em;
}
